.cardContent {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* se quiser mais controle */
}

.cardImage img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--tamanho-2);
    transition: transform 0.5s ease;
}

.cardContent:hover .cardImage img {
    transform: scale(1.05);
}

.cardTitle {
    font-size: var(--font-lg);
    margin-top: var(--tamanho-4);
    color: var(--secondary);
    font-weight: bold;
}

.cardDescription {
    color: var(--gray200);
    font-size: var(--font-md);
    margin-top: var(--tamanho-4);
    line-height: 1.4;
}

.cardLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* força para base */
    padding-bottom: 20px;
}