.sobremim-icon {
    max-width: 100%;
    width: var(--icon-md-w);
    height: var(--icon-md-h);
    will-change: filter;
    transition: filter 300ms;
    filter: brightness(0) saturate(100%) invert(99%) sepia(22%) saturate(77%) hue-rotate(270deg) brightness(112%) contrast(90%);
    transition: transform 0.3s ease;    
}

.sobremim-icon:hover {    
    filter: drop-shadow(0 0 2em var(--primary))
            brightness(0) saturate(100%) invert(76%) sepia(23%) saturate(7372%) hue-rotate(144deg) brightness(100%) contrast(106%);
    transform: scale(1.05);
}

.habilidade {
    display: flex;    
}

.habilidade-kit {
    font-size: var(--font-lg); 
    text-align: center;
    padding: 0px 15px;
}

.skills {
    display: flex;  
    text-align: center; 
}

.icon-lg {
    max-width: 100%;
    width: var(--icon-lg-w);
    height: var(--icon-lg-h);
    will-change: filter;
    transition: filter 300ms;
}

.icon-lg:hover {    
    filter: drop-shadow(0 0 2em var(--primary));
}

.icon-xl {
    max-width: 100%;
    width: var(--icon-xl-w);
    height: var(--icon-xl-h);
    will-change: filter;
    transition: filter 300ms;
}

.icon-xl:hover {    
    filter: drop-shadow(0 0 2em var(--primary));
}

.section-divider {
    height: 2px;
    width: 80%;
    background: linear-gradient(to right, var(--primary), var(--secondary)); /* ou qualquer cor */
    margin: 5rem auto; /* Centraliza horizontalmente */
}