.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
}

.col-4 {
  flex: 0 0 calc(33.3333%); /* 1/3 da largura menos o gap */
  box-sizing: border-box;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

.container {
    padding-top: var(--menu-height); /* tamanho do menu fixo no topo */
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.v-center{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha no eixo vertical */
    height: calc(100vh - var(--menu-height)); /* 100% da tela - tamanho do menu fixo no topo */
}

/* 🔽 Em telas menores que 768px, as colunas ocupam 100% */
@media (max-width: 640px) {
    .col-6 {
        flex: 0 0 100%;
    }
    .col-4 {
        flex: 0 0 100%; /* Empilha os cards em telas pequenas */
    }
    .container {
        padding-top: 15vh !important;
        padding-left: var(--padding-sm);
        padding-right: var(--padding-sm);
    }   
}

/* 🔽 Em telas menores que 768px, as colunas ocupam 100% */
@media (max-width: 768px) {
    .col-6 {
        flex: 0 0 100%;
    }
    .col-4 {
        flex: 0 0 100%; /* Empilha os cards em telas pequenas */
    }
    .container {
        padding-top: 15vh !important;
        padding-left: var(--padding-sm);
        padding-right: var(--padding-sm);
    }
}

/* 🔽 Em telas menores que 768px, as colunas ocupam 100% */
@media (max-width: 1024px) {
    .container {
        padding-top: 15vh !important;
        padding-left: var(--padding-md);
        padding-right: var(--padding-md);
    }
}