/* Tamanho de Fontes */
.text-sm { font-size: var(--font-sm); }
.text-md { font-size: var(--font-md); }
.text-lg { font-size: var(--font-lg); }
.text-xl { font-size: var(--font-xl); }
.text-2xl { font-size: var(--font-2xl); }
.text-3xl { font-size: var(--font-3xl); }
.text-4xl { font-size: var(--font-4xl); }

/* Text Cores */
.text-primary{ color: var(--primary); }
.text-secondary{ color: var(--secondary); }
.text-success{ color: var(--success); }
.text-danger{ color: var(--danger); }
.text-warning{ color: var(--warning); }
.text-info{ color: var(--info); }
.text-muted{ color: var(--muted); }

/* Outros Text */
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-uppercase { text-transform: uppercase; }

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.heading-main {
    line-height: 1.1;
    margin: 25px 0px;
}

.heading-sub {
    line-height: 1.1;
    margin: 20px 0px;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Margens */
.mt-1 { margin-top: var(--tamanho-1); }  
.mt-2 { margin-top: var(--tamanho-2); }   
.mt-3 { margin-top: var(--tamanho-3); }    
.mt-4 { margin-top: var(--tamanho-4); }   
.mt-5 { margin-top: var(--tamanho-5); }    
.mt-6 { margin-top: var(--tamanho-6); } 
.mt-7 { margin-top: var(--tamanho-7); } 

.mb-1 { margin-bottom: var(--tamanho-1); } 
.mb-2 { margin-bottom: var(--tamanho-2); }  
.mb-3 { margin-bottom: var(--tamanho-3); }    
.mb-4 { margin-bottom: var(--tamanho-4); }  
.mb-5 { margin-bottom: var(--tamanho-5); }    
.mb-6 { margin-bottom: var(--tamanho-6); } 
.mb-7 { margin-bottom: var(--tamanho-7); } 

.ml-1 { margin-left: var(--tamanho-1); } 
.ml-2 { margin-left: var(--tamanho-2); }  
.ml-3 { margin-left: var(--tamanho-3); }    
.ml-4 { margin-left: var(--tamanho-4); }  
.ml-5 { margin-left: var(--tamanho-5); }   
.ml-6 { margin-left: var(--tamanho-6); } 
.ml-7 { margin-left: var(--tamanho-7); } 

.mr-1 { margin-right: var(--tamanho-1); } 
.mr-2 { margin-right: var(--tamanho-2); }  
.mr-3 { margin-right: var(--tamanho-3); }    
.mr-4 { margin-right: var(--tamanho-4); }  
.mr-5 { margin-right: var(--tamanho-5); }    
.mr-6 { margin-right: var(--tamanho-6); } 
.mr-7 { margin-right: var(--tamanho-7); } 
