:root {
    /* Cores */
    --gray100: #F2F2F2;
    --gray200: #D9D9D9;
    --gray300: #808080;
    --gray400: #333333;
    --gray500: #262626;
    --gray600: #1A1A1A;
    --gray700: #0D0D0D;
    --purple: #8284FA;
    --purpleDark: #5E60CE;
    --red: #E25858;
    --primary: #00d8ff;
    --secondary: #F06292;
    --success: #55efc4;
    --danger: #E25858;
    --warning: #fdcb6e;
    --info: #00cec9;
    --muted: #6c757d;
    --background-color: #060b27;
    --background-color-darker: #030617;
    --background-header: rgba(6, 11, 39, 0.1);
    --background-hamburguer: rgba(6, 11, 39, 0.95);
    --primary-rgb-10: rgba(0, 216, 255, 0.1);
    --secondary-rgb-10: rgba(240, 98, 146, 0.1);
    --terceary-rgb-10: rgba(197, 98, 240, 0.1);
    --primary-rgb-15: rgba(0, 216, 255, 0.15);
    --secondary-rgb-15: rgba(240, 98, 146, 0.15);
    --terceary-rgb-15: rgba(197, 98, 240, 0.15);
    --primary-rgb-50: rgba(0, 216, 255, 0.5);
    --secondary-rgb-50: rgba(240, 98, 146, 0.5);
    --terceary-rgb-50: rgba(197, 98, 240, 0.50);
    --primary-rgb-100: rgba(0, 216, 255, 1);
    --secondary-rgb-100: rgba(240, 98, 146, 1);
    --terceary-rgb-100: rgba(197, 98, 240, 1);
    --secondary-lighter-rgb-100: rgba(247, 146, 180, 1);
    --secondary-darker-rgb-100: rgba(245, 60, 138, 1);
    
    
    /* Fontes */
    --font-sm: 0.875rem; /* 14px */
    --font-md: 1rem;     /* 16px */
    --font-lg: 1.25rem;  /* 20px */
    --font-xl: 1.5rem;   /* 24px */
    --font-2xl: 2rem;    /* 32px */
    --font-3xl: 2.5rem;  /* 56px */
    --font-4xl: 3.5rem;  /* 56px */
    /* Outros */
    --maxWidthApp: 800px;
    --padding: 10rem;
    --padding-sm: 1rem;
    --padding-md: 2rem;
    --menu-height: 15vh;
    /* Icones */
    --icon-md-h: 30px;
    --icon-md-w: 40px;
    --icon-lg-h: 40px;
    --icon-lg-w: 50px;
    --icon-xl-h: 60px;
    --icon-xl-w: 70px;
    /* Margens */
    --tamanho-1: 0.25rem; /* 4px */
    --tamanho-2: 0.5rem;  /* 8px */
    --tamanho-3: 0.75rem; /* 12px */
    --tamanho-4: 1rem;    /* 16px */
    --tamanho-5: 1.5rem;  /* 24px */
    --tamanho-6: 3rem;    /* 48px */
    --tamanho-7: 5rem;    /* 80px */
}