.header {
  background-color: var(--background-header); /* branco transparente */
  backdrop-filter: blur(6px); /* deixa o fundo "opaco" e elegante */
  padding: 1rem var(--padding);
  position: fixed; /* fixa no topo */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* garante que fique por cima de outros elementos */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); */
  height: var(--menu-height);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha no eixo vertical */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: var(--font-xl);
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navlinks a {
  text-decoration: none;
  color: var(--gray100);
  font-size: var(--font-lg);
  font-weight: bold;
}

.navlinks a:hover {
  color: var(--primary);
}

.active {
  color: var(--secondary) !important;  
  border-bottom: 2px solid var(--primary);
}
