.timeline {
    position: relative;
    max-width: 90%;
    margin: 50px auto;
    padding: 20px 0;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    background: var(--primary);
    transform: translateX(-50%);
}

.item {
    position: relative;
    width: 50%;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.left {
    left: 0;
    text-align: right;
}

.right {
    left: 50%;
    text-align: left;
}

.circle {
    position: absolute;
    top: 40px;
    width: var(--font-lg);
    height: var(--font-lg);
    background: radial-gradient(circle, var(--secondary-rgb-100), var(--secondary-darker-rgb-100));
    border-radius: 50%;
    z-index: 1;
}

.left .circle {
    right: calc(-1 * var(--font-lg) / 2);
}

.right .circle {
    left: calc(-1 * var(--font-lg) / 2);
}

.jobTitle {
    font-size: var(--font-lg);
    color: var(--secondary);
    font-weight: bold;
    margin-bottom: var(--tamanho-2);
}

.company {
    font-size: var(--font-md);
    margin-bottom: var(--tamanho-1);
}

.period {
    font-size: var(--font-sm);
    color: var(--primary);
    margin-bottom: var(--tamanho-1);
}

.descriptionList {
  padding-left: 1.2rem;
  list-style-type: disc;
  list-style-position: outside;
  text-align: left;
}

.description {
    margin-bottom: 0.3rem;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .timeline {
        margin: 20px auto;
    }

    .timeline::before {
        display: none;
    }

    .circle {
        display: none;
    }

    .item {
        width: 100%;
        left: 0;
        text-align: left;
        padding: 20px;
    }

    .left,
    .right {
        text-align: left;
        left: 0;
    }
}
