#root {
  margin: 0;
}

.container {
  padding-top: 100px; /* ou o valor da altura do seu header */
  padding-left: var(--padding);
  padding-right: var(--padding);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

